.elemnt {
  min-height: 100vh;
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: #f1f1f1;
}
.border {
  margin-bottom: 20px;
}
.heading {
  margin-top: 30px;
  text-align: center;
  font-weight: bold;
}
.aboutUs {
  margin-top: -15px;
  background: url(https://www.trekkinginindia.com/images/treking-in-garhwal.jpg)
    no-repeat left;
  background-size: 100% 100%;
  background-color: #f1f1f1;
  overflow: hidden;
  height: 100%;
  padding: 100px 20px;
}
.text {
  text-align: justify;
  padding: 10px 100px;
}
.form::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 800px;
  background-image: linear-gradient(45deg, #8baaaa 0%, #d1c9e0 100%);
  z-index: -1;
}

.form {
  margin-top: 8rem;
  color: whitesmoke;
  font-size: 18px;
}

.submitbtn {
  background-color: #3b4044;
  color: whitesmoke;
  border: none;
  height: 35px;
  width: 95px;
  border-radius: 3px;
  margin-left: 10px;
}

.submitbtn:hover {
  /* border: 1px solid whitesmoke; */
  cursor: pointer;
  background-color: #757575;
}
